@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222831;
  font-family: "Open Sans", sans-serif;
}

.title {
  padding: 20px;
  font-size: 50px;
  color: #4ef037;
}

.wrapper {
  width: 80vmin;
  height: 80vmin;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #233142;
}

.game-details {
  display: flex;
  justify-content: space-between;
  color: #eeeeee;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 27px;
}

#game-board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  background-color: #255965;
}

.snake-head {
  background-color: #4ef037;
  border-radius: 7px;
}

.snake-body {
  background-color: #4ef037;
  border-radius: 15px;
}

.food {
  background-color: #ff003d;
  border-radius: 15px;
}
